.changePasswordContainer{
    padding-top: 20px;
    padding-bottom: 60px;
    margin-left: 40px;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
    width: 200px;
}

h2{
    margin-bottom: 20px;
}